/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    YENTA Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Import profile settings
includeConfig "${projectDir}/conf/profiles.config"

// Global default params
params {

    // Setting output directory 

    // Set name for output folder/file prefixes
    out = "Yenta_${new java.util.Date().getTime()}"

    // Set output parent directory [Default: CWD; Set this to have all output go to the same parent folder, with unique IDs set by --out]
    outroot = ""

    
    // Yenta can run in the following run-modes:

    // assemble: Assemble read data (--reads/--ref_reads) into FASTA via SKESA (ignores --fasta/--ref_fasta/--snpdiffs)
    // align: Given query data (--reads/--fasta) and reference data (--ref_reads/--ref_fasta), run MUMmer alignment analysis for each query/ref combination (ignores --snpdiffs)
    // screen: Given query data (--reads/--fasta) and reference data (--ref_reads/--ref_fasta) and/or MUMmer output (.snpdiffs), create a report for raw SNP distances between each query and reference assembly
    // snp: Given query data (--reads/--fasta) and reference data (--ref_reads/--ref_fasta) and/or MUMmer output (.snpdiffs), generate alignments and pairwise distances for all queries based on each reference dataset
    
    runmode = ""

    // Location for isolate sequence data
    reads = ""
    fasta = ""

    // Location for reference sequence data
    ref_reads = ""
    ref_fasta = ""

    // Location for snpdiffs files
    snpdiffs = ""
    
    // Read read_info
    readext = "fastq.gz"
    forward = "_1.fastq.gz"
    reverse = "_2.fastq.gz"

    ref_readext = "fastq.gz"
    ref_forward = "_1.fastq.gz"
    ref_reverse = "_2.fastq.gz"

    // Analytical variables

    // Only consider queries the reference genome is covered by at least <min_cov>% [Default: 85]
    min_cov = 85

    // Only consider SNPs from contig alignments longer than <min_len> bp [Default: 500]
    min_len = 500

    // Only consider SNPs from contig alignments with <min_iden>% identity [Default: 99]
    min_iden = 99

    // Remove SNPs that occur within <ref_edge>bp from the end of the reference contig [Default: 250]
    ref_edge = 250

    // Remove SNPs that occur within <query_edge>bp from the end of the query contig [Default: 250]
    query_edge = 250

    // SNP density filters: Given density windows provided by dwindows, purge windows where more than the allowable window SNPs (wsnps) are found
    // Default: 3 max per 1000bp, 2 max per 125bp, 1 max per 15bp
    dwindows = "1000,125,15"
    wsnps = "3,2,1"

    // If running refchooser in snp mode, compare queries to the top X references [Default: 1]
    n_ref = 1

    // If the assembly file contains the string <trim_name>, remove it from the sample name (e.g. '_contigs_skesa')
    trim_name = '""'
}
