/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    YENTA Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Import profile settings
includeConfig "${projectDir}/conf/profiles.config"

// Global default params
params {

    // Setting output directory 

    // Name of output folder/run name
    out = "Yenta_${new java.util.Date().getTime()}"

    // Output parent directory [Default: CWD; Set this to have all output go to the same parent folder, with unique IDs set by --out]
    outroot = ""

    
    // Run-mode choice

    // Yenta can run in three run-modes:
    // 1) Reference screener mode (--fasta/reads + --ref_fasta/ref_reads)
        // Every isolate with data from --fasta/reads will be compared to each reference provided by --ref_fasta/--ref_reads)
    // 2) Reference-based SNP Pipeline 
        // --fasta/reads: Run SNP Pipeline and choose reference based on refchooser
        // --fasta/reads + snp_ref_fasta/snp_ref_reads: Run SNP Pipeline with a preset reference (will run separately for each reference provided)
    // 3) Reference-free (all vs. all) SNP Pipeline (--fasta/reads + --all)

    // Location for isolate sequence data
    reads = ""
    fasta = ""

    // To run Yenta in reference screener mode, set reference data location using either --ref_fasta or --ref_reads
    ref_reads = ""
    ref_fasta = ""

    // To run Yenta in SNP pipeline mode with a specific reference (bypassing refchooser), set --snp_ref_reads/--snp_ref_fasta
    snp_ref_reads = ""
    snp_ref_fasta = ""

    // To run Yenta in SNP pipeline mode without a reference (all vs. all), set --fasta/reads and --all
    all = false
    
    // Analytical variables

    // Only consider queries where either the query or reference genome are covered by at least <align_cov>% [Default: 85]
    align_cov = 85

    // Only consider SNPs from contig overlaps longer than <min_len> bp [Default: 500]
    min_len = 500

    // Only consider SNPs from contig alignments with <ref_iden>% identity [Default: 99]
    ref_iden = 99

    // Remove SNPs that occur within <ref_edge>bp from the end of the reference contig [Default: 250]
    ref_edge = 250

    // Remove SNPs that occur within <query_edge>bp from the end of the query contig [Default: 250]
    query_edge = 250

    // Filter sites from the SNP alignment if > <max_perc_n> isolates have an "N" [Default: 75]
    max_perc_n = 75

    // Read read_info
    readtype = "" 
    readext = "fastq.gz"
    forward = "_1.fastq.gz"
    reverse = "_2.fastq.gz"

    ref_readtype = ""
    ref_readext = "fastq.gz"
    ref_forward = "_1.fastq.gz"
    ref_reverse = "_2.fastq.gz"
}
