/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    YENTA Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Import profile settings
includeConfig "${projectDir}/conf/profiles.config"

// Global default params
params {
    
    // Input data
    reads = ""
    readtype = ""
    fasta = ""

    ref_reads = ""
    ref_readtype = ""
    ref_fasta = ""

    // Output directory
    out = "./YENTA_${new java.util.Date().getTime()}"

    // Available processors per node
    cores = 1

    // QUERY FILTERING

    // Only consider queries where either the query or reference genome are covered by at least <align_cov>% [Default: 85]
    align_cov = 85

    // CONTIG FILTERING

    // Only consider SNPs from contig alignments with <ref_iden>% identity [Default: 99]
    ref_iden = 99

    // SNP FILTERING

    // Remove SNPs that occur within <ref_edge>bp from the end of the reference contig [Default: 500]
    ref_edge = 500

    // Remove SNPs that occur within <query_edge>bp from the end of the query contig [Default: 500]
    query_edge = 500
}