profiles {
    standard {
        process.executor = 'local'
        process.cpus = 1
        process.maxForks = 1
        params.python_module = ""
        params.bowtie2_module = ""
        params.samtools_module = ""
        params.mummer_module = ""
        params.skesa_module = ""
        params.bbmap_module = ""
        params.bedtools_module = ""
        
        params.picard_module = ""
        params.gatk_module = ""
        params.picard_jar = ""
        params.gatk_jar = ""
    }
    local_multithread {
        process.executor = 'local'
        process.maxForks = 1
        params.cores = 1
        process.cpus = "${params.cores}"
        params.python_module = ""
        params.bowtie2_module = ""
        params.samtools_module = ""
        params.mummer_module = ""
        params.skesa_module = ""
        params.bbmap_module = ""
        params.bedtools_module = ""

        params.picard_module = ""
        params.gatk_module = ""
        params.picard_jar = ""
        params.gatk_jar = ""
    }
    raven2 {
        process.executor = 'slurm'
        process.maxForks = 20
        params.cores = 20
        process.cpus = "${params.cores}"
        process.clusterOptions = "--exclude=n226"
        params.python_module = "python/3.8.1"
        params.bowtie2_module = "bowtie2/2.4.4"
        params.samtools_module = "samtools/1.3.1"
        params.mummer_module = "mummer/4.0.0"
        params.skesa_module = "skesa/2.5.0"
        params.bbmap_module = "bbtools/38.94"
        params.bedtools_module = "bedtools"

        params.picard_module = "picard/2.18.4"
        params.gatk_module = "gatk/3.8.1"
        params.picard_jar = "/nfs/sw/apps/picard/picard-2.18.4/picard.jar"
        params.gatk_jar = "/nfs/sw/apps/gatk/3.8.1/GenomeAnalysisTK.jar"
    }
    cloud {
        process.executor = 'awsbatch'
        process.container = 'cbcrg/imagex'
        docker.enabled = true
    }
}
