profiles {
    standard {
        process.executor = 'local'
        params.cores = 1
        params.python_module = ""
        params.mummer_module = ""
        params.skesa_module = ""
        params.bedtools_module = ""
        params.mash_module = ""
        params.bbtools_module = ""
    }
    raven2 {
        process.executor = 'slurm'
        params.cores = 20
        params.python_module = "/nfs/software/modules/python/3.8.1"
        params.mummer_module = "/nfs/software/modules/mummer/4.0.0"
        params.skesa_module = "/nfs/software/modules/skesa/2.5.0"
        params.bedtools_module = "/nfs/sw/Modules/bedtools"
        params.bbtools_module = "/nfs/software/modules/bbtools/38.94"
        params.mash_module = "/nfs/software/modules/mash/2.3"
        params.trim_name = "_contigs_skesa"
    }
    raven2_test {
        process.executor = 'slurm'
        params.cores = 20
        process.clusterOptions = {"-p test"}
        params.python_module = "python/3.8.1"
        params.mummer_module = "mummer/4.0.0"
        params.skesa_module = "skesa/2.5.0"
        params.bedtools_module = "bedtools"
        params.bbtools_module = "/nfs/software/modules/bbtools/38.94"
        params.mash_module = "/nfs/software/modules/mash/2.3"
        params.trim_name = "_contigs_skesa"

    }
    raven2_int {
        process.executor = 'local'
        params.cores = 20
        params.python_module = "/nfs/software/modules/python/3.8.1"
        params.mummer_module = "/nfs/software/modules/mummer/4.0.0"
        params.skesa_module = "/nfs/software/modules/skesa/2.5.0"
        params.bedtools_module = "/nfs/sw/Modules/bedtools"
        params.bbtools_module = "/nfs/software/modules/bbtools/38.94"
        params.mash_module = "/nfs/software/modules/mash/2.3"
        params.trim_name = "_contigs_skesa"
    }
    slurm_nm {
        process.executor = 'slurm'
        params.cores = 1
        params.python_module = ""
        params.mummer_module = ""
        params.skesa_module = ""
        params.bedtools_module = ""
        params.bbtools_module = ""
        params.mash_module = ""
        params.trim_name = ""
    }
    standard_nm {
        process.executor = 'local'
        params.cores = 1
        params.python_module = ""
        params.mummer_module = ""
        params.skesa_module = ""
        params.bedtools_module = ""
        params.bbtools_module = ""
        params.mash_module = ""
        params.trim_name = ""
    }
    slurm_conda {
        process.executor = 'slurm'
        params.cores = 1
        params.python_module = ""
        params.mummer_module = ""
        params.skesa_module = ""
        params.bedtools_module = ""
        params.bbtools_module = ""
        params.mash_module = ""
        params.trim_name = ""

        process {
            withName:runMUMmer {
                conda = './conf/CSP2.yaml'
            }
            withName:saveMUMmerLog {
                conda = './conf/CSP2.yaml'
            }
            withName:compileResults{
                conda = './conf/CSP2.yaml'
            }
            withName:screenSNPDiffs{
                conda = './conf/CSP2.yaml'
            }
            withName:runSnpPipeline{
                conda = './conf/CSP2.yaml'
            }
            withName:mashSkech{
                conda = './conf/CSP2.yaml'
            }
            withName:mashTriangle{
                conda = './conf/CSP2.yaml'
            }
            withName:chooseRefs{
                conda = './conf/CSP2.yaml'
            }
        }
    }
    
    standard_conda {
        process.executor = 'local'
        params.cores = 1
        params.python_module = ""
        params.mummer_module = ""
        params.skesa_module = ""
        params.bedtools_module = ""
        params.bbtools_module = ""
        params.mash_module = ""
        params.trim_name = ""

                process {
            withName:runMUMmer {
                conda = './conf/CSP2.yaml'
            }
            withName:saveMUMmerLog {
                conda = './conf/CSP2.yaml'
            }
            withName:compileResults{
                conda = './conf/CSP2.yaml'
            }
            withName:screenSNPDiffs{
                conda = './conf/CSP2.yaml'
            }
            withName:runSnpPipeline{
                conda = './conf/CSP2.yaml'
            }
            withName:mashSkech{
                conda = './conf/CSP2.yaml'
            }
            withName:mashTriangle{
                conda = './conf/CSP2.yaml'
            }
            withName:chooseRefs{
                conda = './conf/CSP2.yaml'
            }
        }
    }
}
